:root {
    --white: #eae8ff;
    --gray: #d8d5db;
    --silver: #ADACB5;
    --darkblue: #2D3142;
    --babyblue: #B0D7FF;
    --green: lightgreen;
    --darkgreen: rgb(77, 189, 77);
    --red: #ff6868;
    --darkred: #c34c4c;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: var(--darkblue);
}

#content {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
    padding: 1rem;
    color: var(--white);
    font-weight: 900;
    font-size: 1.5rem;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--silver);
    padding: 2rem 4rem 2rem 2rem;
    color: var(--darkblue);
    min-width: 286px;
}

aside h2 {
    color: var(--darkblue);
    font-size: 2rem;
    font-weight: 700;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--darkblue)
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--white);
}

.project:hover {
    background-color: var(--gray);
}

.project div {
    display: flex;
    align-items: center;
}

.project svg {
    background-color: var(--red);
    border-radius: 2rem;
}

.project svg:hover {
    color: var(--darkred);
}

.selected {
    background-color: var(--darkblue);
    color: var(--white);

}

.project-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addProject {
    border: none;
    background-color: var(--babyblue);
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.addProject:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

main {

    grid-area: main;
    background-color: var(--gray);
    padding: 2rem 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    background-color: var(--white);
}

.topBar {
    display: flex;
    justify-content: space-between;
}

main h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--darkblue);
}

.newItem {
    border: 1px solid var(--darkblue);
    background-color: var(--babyblue);
    color: var(--darkblue);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.newItem:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

article {
    background-color: white;
    /* border: 1px solid var(--darkblue); */

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.delete-container {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.delete {

    color: var(--red);
    display: flex;
    justify-content: center;
    font-weight: 900;
    cursor: pointer;

}

.delete:hover {
    color: var(--darkred);
}

.selected:hover {
    background-color: var(--darkblue);

}

article .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hide {
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

#inputTitle,
#newProjectName {
    padding: 0.5rem;
    border: 1px solid var(--darkblue);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--darkblue);
}

#inputDesc {
    padding: 0.5rem;
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
    font-weight: 600;
}

.bottom,
.projectButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.bottom button,
.add,
.cancel {
    width: 50%;
    border: 1px solid var(--darkblue);
    /* background-color: var(--babyblue); */
    color: var(--darkblue);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

}

.add {
    background-color: var(--green);
    color: var(--darkblue);
}

.add:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

.cancel {
    background-color: var(--red);
}

.cancel:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

footer {
    grid-area: footer;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    color: var(--silver);
}